<!DOCTYPE html>
<html>
  <head>
    <title>Moe's URL Shortener</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Moe's URL Shortener</h1>
    <div>
      <form method="POST" action="/moesurl" >
        <p>Enter URL Here:</p>
        <input type="text" name="inputurl" placeholder="URL to Shorten..." required />
        <button type="submit">Submit</button>
      </form>
    </div>
    <p style="font-family: courier; color: #F4D03F; font-size: 24px; font-style: bold;">The URL you entered is too long ...</p> 
  </body>
</html>
