<!DOCTYPE html>
<html>
  <head>
    <title>Moe's URL Shortener</title>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <h1>Moe's URL Shortener</h1>
    <p>Your Shortened URL is:</p>
    <input type="text" name="shortenedurl" disabled="disabled" value='<%= data2 %>'/>
    <p style="font-family: courier; color: #F4D03F; font-size: 24px; font-style: bold;">Copy the shortened URL to use!</p>
    <a href="www.moes.xyz/"><button>Another One !?</button></a>
  </body>
</html>
